<div class="row">
	<div id="banner-container" class="col s12 white">
		<div id="banner-full" class="col l8 offset-l2 m10 offset-m1">
			<div id="banner-text">
				<h1 class="banner-primary-text">Hey! I'm Cael Jensen,</h1>
				<h2 class="banner-secondary-text">I have a passion<br />&emsp;&emsp;for creating things.</h2>
			</div>
			<div class="hide-on-small-only">
				<%= image_tag("bannerFull.jpg") %>
			</div>
			<div class="hide-on-med-and-up">
				<%= image_tag("bannerClipped.jpg") %>
			</div>
		</div>
	</div>
	<div id="content-column" class="col l8 offset-l2 m10 offset-m1 s12">
		<div id="navbar" class="col s12">
			<a href="/" class="col s4 flow-text selected">About Me</a>
			<a href="/portfolio" class="col s4 flow-text middle-button">Portfolio</a>
			<a href="/contact" class="col s4 flow-text">Contact Me</a>
		</div>

		<div class="col s8 offset-s2">
			<br /><br />
			<p class="flow-text">I'm currently working on this part of the site.<br /><br />Head over to the portfolio tab to see some of my work!</p>
		</div>
	</div>

	<!-- extends white column to bottom of page on med and up -->
	<div id="column-filler" class="col l8 offset-l2 m10 offset-m1 s12">
		<div class="col s12 white" style="height:100%"></div>
	</div>

	<!-- extends white background to bottom of page on small -->
	<div id="column-filler-small" class="col l8 offset-l2 m10 offset-m1 s12 hide-on-med-and-up">
		<div class="col s12 white" style="height:100%"></div>
	</div>
</div>