@import "materialize";

body {
	background-color: #ddd;
}

#banner-container {
	padding: 0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.25);
	position: relative;
	z-index: 2;
	overflow-y: hidden;
}

#banner-full {
	padding: 0;
	position: relative;
}

#banner-full img {
	width: 100%;
	margin-bottom: -7px;
}

#banner-text {
	position: absolute;
	left: 8%;
	font-family: 'Indie Flower', cursive;
	text-shadow: 0 0 12px #fff;
}

#banner-text h1 {
	font-size: 21px;
	font-weight: bold;
	margin: 8px 0 12px;
	color: #000;
}

#banner-text h2 {
	font-size: 14px;
	margin: 0 40px;
	color: #555;
}

#content-column {
	padding: 0px 20px;
	text-align: center;
}

#column-filler {
	height: 3000px;
	padding: 0 20px;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

#column-filler-small {
	height: 3000px;
	padding: 0;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

#navbar {
	padding: 0px;
}

#navbar a {
	color: #000;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	position: relative;
}

#navbar a:hover {
	color: #06c;
}

#navbar a::after {
	content: ' ';
	display: block;
	width: 100%;
	height: 0px;
	background-color: #06c;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.5s;
}

#navbar a:hover::after {
	height: 5px;
}

#navbar .middle-button {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#navbar .selected {
	color: #06c;
}

#navbar .selected::after {
	content: ' ';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #06c;
	position: absolute;
	bottom: 0;
	left:0;
}

.portfolio {
	margin: 25px 0 10px;
}

.portfolio h3 {
	margin: 10px 10px 8px;
}

.portfolio-header {
	font-family: 'Indie Flower', cursive;
	color: #fff;
	text-align: left;
	background-color: #999;
	border: 1px solid #999;
	border-bottom: none;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.portfolio-body {
	border: 1px solid #999;
	border-top: none;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.websites {
	background-color: #ff2f2f;
	background-image: url('port-websites.jpg');
	background-position: right center;
	background-repeat: no-repeat;
}

.logos {
	background-color: #0076cc;
	background-image: url('port-logos.jpg');
	background-position: right center;
	background-repeat: no-repeat;
}

.apps {
	background-color: #f6a400;
	background-image: url('port-apps.jpg');
	background-position: right center;
	background-repeat: no-repeat;
}

.artprep {
	background-color: #00cc20;
	background-image: url('port-artprep.jpg');
	background-position: right center;
	background-repeat: no-repeat;
}

.music {
	background-color: #7900da;
	background-image: url('port-music.jpg');
	background-position: right center;
	background-repeat: no-repeat;
}

.portfolio-body img{
	width: 100%;
	height: auto;
	border: 1px solid #999;
	border-radius: 7px;
	margin-bottom: 10px;
}

.portfolio-item {
	margin: 10px 0;
	padding: 0 !important;
	text-align: left;
	border-bottom: 1px solid #999;
}

.portfolio-item a {
	text-decoration: underline;
}

.portfolio-item:last-child {
	border-bottom: none;
}

.portfolio-infobox {
	margin: 10px 0 0;
	color: #333;
	background-color: #f2f2f2;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

.portfolio-infobox p {
	margin: 3px;
}

iframe {
	margin-bottom: 20px;
}

.logobox {
	padding: 5px !important;
}

.logobox img {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	border: none;
}